.user-actions a {
  margin-right: 40px;
  color: black;
}

.user-actions .logout-btn {
  margin-left: 40px;
  cursor: pointer;
}
#header {
  padding: 24px 0;
  background-color: lightgray;
}
.header-wrapper a {
  color: black;
}
.user-actions {
  line-height: 24px;
}
.logo a {
  font-size: 24px;
}
