.home-title{
    font: 40px;
    margin-top: 100px;
}
.category-items{
    border: 1px solid black;
    margin: 20px;
background-color: black;
    width: 150px;
}
.category-items a{
    padding: 30px 20px;
    font-size: 18px;
}
.category-title{
    margin-top: 20px;
    font-size: 18px;
}